{% load static %}

{% block subject %}
{% autoescape off %}
Сброс пароля
{% endautoescape %}
{% endblock %}

{% block text_body %}
{% autoescape off %}
Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на {{ site_name }}.

Пожалуйста, перейдите по ссылке ниже, чтобы сбросить пароль:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Срок действия ссылки для сброса пароля истекает через {{ timeout }} часов.

Если вы не запрашивали сброс пароля, проигнорируйте это письмо.
{% endautoescape %}
{% endblock %}

{% block html_body %}
{% autoescape off %}
<p>Вы получили это письмо, потому что запросили сброс пароля для вашей учетной записи на {{ site_name }}.</p>
<p>Пожалуйста, перейдите по ссылке ниже, чтобы сбросить пароль:</p>
<p><a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}">Сбросить пароль</a></p>
<p>Срок действия ссылки для сброса пароля истекает через {{ timeout }} часов.</p>
<p>Если вы не запрашивали сброс пароля, проигнорируйте это письмо.</p>
{% endautoescape %}
{% endblock %}