{% extends 'base.html' %}

{% block title %}Отчеты о списаниях{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Отчеты о списаниях</h2>

    <form method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-3">
                Начало периода
                {{ form.start_date }}
            </div>
            <div class="form-group col-md-3">
                Конец периода
                {{ form.end_date }}
            </div>
            <div class="form-group col-md-3">
                Подразделение
                {{ form.otdel }}
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Фильтровать</button>
            <button type="submit" name="generate_word" class="btn btn-success">Сгенерировать отчет в Word</button>
        </div>
    </form>

    <hr>

    <h4>Общая сумма списаний за все время: {{ total_spisanie_sum }} руб.</h4>
    <h4>Сумма списаний за текущий месяц ({{ current_month }}/{{ current_year }}): {{ total_spisanie_current_month }} руб.</h4>

    {% if selected_period_sum %}
    <h4>Сумма списаний за выбранный период: {{ selected_period_sum }} руб.</h4>
    {% elif selected_month %}
    <h4>Сумма списаний за {{ selected_month }}/{{ current_year }}: {{ sum_for_selected_month }} руб.</h4>
    {% endif %}

    <table class="table table-bordered table-striped mt-4">
        <thead>
            <tr>
                <th>Дата</th>
                <th>Сотрудник</th>
                <th>Отдел</th>
                <th>Сумма</th>
            </tr>
        </thead>
        <tbody>
            {% for spisanie in spisanie_list %}
                <tr>
                    <td>{{ spisanie.date }}</td>
                    <td>{{ spisanie.user.last_name }} {{ spisanie.user.first_name }} {{ spisanie.user.superlast_name }}</td>
                    <td>
                        {% if spisanie.user.otdel %}
                            {{ spisanie.user.otdel.name }}
                        {% else %}
                            ''
                        {% endif %}
                    </td>
                    <td>{{ spisanie.summa }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">Нет данных для отображения</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<style>
    .container {
        max-width: 800px;
        background-color: #fff;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    h2 {
        font-size: 24px;
        margin-bottom: 20px;
        color: #007bff;
    }

    h4 {
        font-size: 18px;
        margin-bottom: 20px;
        color: #333;
    }

    .table {
        margin-top: 20px;
    }

    .form-group label {
        font-weight: bold;
    }

    .form-group select,
    .form-group input[type="text"],
    .form-group input[type="date"] {
        display: block;
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    }
</style>
{% endblock %}
